# Node

/**/node_modules/

# Maven

/**/target/

# Gradle

.gradle/
build/

# IntelliJ

/**/*.iml
/**/.idea/

# Eclipse

/**/bin/
/**/tmp/
/**/.classpath
/**/.metadata/
/**/.project
/**/.settings/
/**/.springBeans